{% extends 'base.html.twig' %}

{% block title %}Modifier Commentaire{% endblock %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Modifier Commentaire</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ include('comment/_edit_form.html.twig', {'button_label': 'Modifier'}) }}
                <a href="{{ path('app_comment_index') }}">retour à la liste</a>
                {{ include('comment/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
