{% extends 'base.html.twig' %}

{% block title %}Nouveau Comment{% endblock %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>Nouveau Commentaire</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <h2>Créer un nouveau commentaire</h2>
    </div>

    {{ include('comment/_edit_form.html.twig') }}

    <div class="container">
        <a href="{{ path('app_comment_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
