{# templates/section/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sections</h1>
    <a href="{{ path('section_new') }}">Creez nouveau section</a>
    <ul>
        {% for section in sections %}
            <li>{{ section.section_title }} - <a href="{{ path('section_edit', { id: section.id }) }}">Edit</a></li>
        {% endfor %}
    </ul>
{% endblock %}
