
{% extends 'base.html.twig' %}

{% block content %}
<h1>Admin </h1>
<p>Ici vous pouvez gerer le contenu.</p>
<ul>
    <li><a href="{{ path('admin_article_list') }}">Gerer les articles</a></li>
    <li><a href="{{ path('admin_section_list') }}">Gerer les sections</a></li>
    <li><a href="{{ path('admin_user_list') }}">Gerer les users</a></li>
</ul>
{% endblock %}
