{# templates/article/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Create New Article{% endblock %}

{% block body %}
<h1>Create New Article</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Save Article</button>
{{ form_end(form) }}

<a href="{{ path('homepage') }}">Back to Home</a>
{% endblock %}
